$tree-background: #ebecf0;
$tree-boxshdow: 0 4px 6px 0 #00000031;

$item-color: #ffffff;

$subgroup-background: #97979728;

$icon-background: #d2d2d2;
$group-title-color: #5c5c5c;


html,
body {
    font-family: 'Lato';
    font-style: normal;
    transition: .2s ease-in;
    cursor: default;
}

html,
body,
p,
a {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 200px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .object-tree {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 20px;


        .tree-roots {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }
}


.group-tree-container {
    position: relative;
    width: 100%;
    background: $tree-background;
    box-shadow: $tree-boxshdow;
    border-radius: 12px;
    padding: 10px 0;

    .group-item,
    .group-item-add {
        position: relative;
        user-select: none;
        position: relative;
        display: block;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: -2px;
            // box-shadow: inset 0 -1px rgba(100, 100, 100, 0.226);
            background: rgba(100, 100, 100, 0.226);
            height: 1px;
        }

        &:last-child::after {
            box-shadow: none;
            background: none;
        }


        .group-title {
            position: relative;
            display: flex;
            padding: 15px;
            gap: 20px;
            padding-left: 45px;
        }

        .sub-group {
            display: none;
            margin: 10px;
            margin-left: 72px;
            background-color: $subgroup-background;
            border-radius: 12px;

            &.active {
                display: block !important;

            }
        }

    }

}

.group-title {
    &::before {
        content: '';
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        background: url('../img/icons/Minus.svg');
        background-size: cover;
        width: 18px;
        height: 18px;
        opacity: .2;
    }

    i {
        display: inline-block;
        cursor: pointer;

        &.icon {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 22px;
            height: 22px;

            border-radius: 4px;
            background-color: $icon-background;


            svg {
                display: block;
                width: 18px;
                height: 18px;

                opacity: .7;
            }
        }

        &.icon-default {
            background: none;
            opacity: .2;
        }

        &.icon-default::after,
        &.icon-plus::after,
        &.icon-drop-down::after,
        &.icon-check::after,
        &.icon-close::after {
            content: '';
            position: absolute;
            width: 18px;
            height: 18px;
        }

        &.icon-default::after {

            background: url('../img/icons/Minus.svg');
            background-size: cover;
        }

        &.icon-plus::after {
            background: url('../img/icons/Plus.svg');
            background-size: cover;
        }

        &.icon-check::after {
            background: url('../img/icons/Check.svg');
            background-size: cover;
        }

        &.icon-close::after {
            background: url('../img/icons/Close.svg');
            background-size: cover;
        }

        &.icon-drop-down {
            margin-left: auto;
        }

        &.icon-drop-down::after {
            background: url('../img/icons/Plus.svg');
            background-size: cover;

        }

        &.toggled.icon-drop-down::after {
            background: url('../img/icons/Minus.svg');
            background-size: cover;
        }

    }

    span {
        font-size: 18px;
        cursor: pointer;
        color: $group-title-color;
        margin-right: auto;

        &.input-view {
            display: flex;
            gap: 10px
        }
    }


    .group-actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;

        .icon-edit,
        .icon-remove {
            background: none;
            opacity: .7;
        }

        .icon-edit::after,
        .icon-remove::after {
            content: '';
            position: absolute;
            width: 18px;
            height: 18px;
        }

        .icon-edit::after {
            background: url('../img/icons/Edit_rectangle.svg');
            background-size: cover;
        }

        .icon-remove::after {
            background: url('../img/icons/Trash_1.svg');
            background-size: cover;
        }
    }
}

.group-item-add {
    .group-title {
        &::before {
            display: none;
        }
    }
}


.object-tree-process {
    width: 100%;
    height: 22px;

    p {
        width: 100%;
        text-align: center;
    }
}

.tree-drescr {
    min-width: 200px;
    max-width: 200px;
    padding-top: 15px;


    .item-descr {
        display: none;
        padding: 15px;
        background-color: $tree-background;
        box-shadow: $tree-boxshdow;
        border-radius: 12px;

        h2 {
            padding-bottom: 15px;
            word-wrap: normal;
            overflow: hidden;
        }

        p {}

        &.active {
            display: block;
        }
    }

    .group-actions {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}




.form {
    position: relative;
    margin: 0 auto;
    width: 400px;
    background: $tree-background;
    box-shadow: $tree-boxshdow;
    border-radius: 12px;
    padding: 50px 30px;

    .form-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 20px;
        width: 100%;

        label {
            display: block;
            margin-bottom: 10px;
        }

        input {
            outline: none;
            display: block;
            width: 100%;
            border: 0;
            border-radius: 4px;
            padding: 12px 20px;
        }
    }

    .form-action {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;


        button {
            outline: none;
            background: $subgroup-background;
            border: 0;
            border-radius: 12px;
            padding: 12px 30px;
            font-size: 14px;
            cursor: pointer;
        }
    }
}